name: Test build on push

on:
  push: 
    branches-ignore:
      - master

jobs:
  test-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Extract tag version
      id: extract_tag
      run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

    ### FRONTEND IMAGE ###
    - name: Build Frontend Image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        build-args: |
          VERSION=dev
        tags: |
          timlohrer/auth-rs-frontend:dev

    ### BACKEND IMAGE ###
    - name: Build Backend Image
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        file: ./backend/Dockerfile
        build-args: |
          VERSION=${{ steps.extract_tag.outputs.VERSION }}
        tags: |
          timlohrer/auth-rs-backend:dev